#app {
  display: flex;
  max-width: 1500px;
}

#characters {
  display: flex;
  gap: 4em;
  margin-bottom: 2em;
}

#cards {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
