.card {
  padding: 0;
  border-width: 0.3em;
  width: 15em;
}

.card-header {
  background: rgba(10, 10, 10, 0.3);
  display: block;
  padding: 0.3em;
  border-bottom: 0.1em solid black;
}

.card-body {
  padding: 0.5em;
}

.card-range {
  text-align: right;
  margin-block-end: 0;

  &::after {
    content: "🏹";
  }
}
