.character {
  background: #ededed;
  min-width: 200px;
  height: 100%;

  --character-horizontal-padding: 0.75em;
  --health-bar-horizontal-padding: var(--character-horizontal-padding);

  & > img {
    padding: 0 25%;
    display: block;
    background: radial-gradient(
      circle at bottom,
      rgba(0, 0, 0, 0.2),
      white 67%
    );
  }

  &:not(:has(.character-end-turn)) {
    width: 10em;
  }

  & .bottom {
    padding: var(--character-horizontal-padding);
  }

  & .line-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--padding-m);

    & h3 {
      flex-grow: 1;
    }
  }

  & .movement,
  & .actions {
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1.25em;

    image-rendering: auto;
  }

  & .effects {
    text-align: right;
  }

  & .open {
    width: 100%;
    cursor: pointer;
  }
}

.character-end-turn {
  font-size: 2em;
  width: 100%;
  padding: var(--padding-s) var(--padding-l);
  vertical-align: top;
  cursor: pointer;
  background: var(--c-primary-background);
  border: 0;
  transition: background-color 250ms linear;

  & .character-end-turn-icon {
    display: inline-block;
    transition: transform 250ms ease-out;
  }

  &:hover {
    background: var(--c-primary-active);
    & .character-end-turn-icon {
      transform: translateX(var(--padding-s));
      transition-timing-function: cubic-bezier(0.8, -0.4, 0.5, 1);
    }
  }
}
