.character {
  background: #ededed;
  min-width: 200px;

  --character-horizontal-padding: 0.75em;
  --health-bar-horizontal-padding: var(--character-horizontal-padding);

  & > img {
    padding: 0 25%;
    display: block;
    background: radial-gradient(
      circle at bottom,
      rgba(0, 0, 0, 0.2),
      white 67%
    );
  }

  &:not(:has(.character-end-turn)) {
    width: 10em;
  }

  & .bottom {
    padding: var(--character-horizontal-padding);
  }

  & .line-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .movement {
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1.25em;

    image-rendering: auto;
  }

  & .effects {
    text-align: right;
  }

  & .open {
    width: 100%;
    cursor: pointer;
  }
}

.character-end-turn {
  font-size: 2em;
  padding: 1em;
  margin-inline-start: 1em;
  vertical-align: top;
  cursor: pointer;
}
