@import "app.css";
@import "battle-history.css";
@import "card.css";
@import "character.css";
@import "game-board.css";
@import "meter-bar.css";

:root {
  --font-family-pixelated: "Jersey 15", sans-serif;
}

html {
  font-family: sans-serif;
}

* {
  image-rendering: pixelated;
}
