@import "colors.css";
@import "app.css";
@import "badge.css";
@import "battle-history.css";
@import "card.css";
@import "character.css";
@import "container.css";
@import "game-board.css";
@import "meter-bar.css";
@import "health-bar.css";
@import "tooltip.css";
@import "effect.css";

:root {
  --font-family-pixelated: "Jersey 15", sans-serif;

  --padding-s: 0.5em;
  --padding-m: 0.75em;
}

html {
  font-family: sans-serif;
}

* {
  image-rendering: pixelated;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}
