.tooltip {
  position: absolute;
  background: white;
  box-shadow: 0 0 1em black;

  justify-self: center;
  bottom: calc(anchor(top) + 1em);
  width: max-content;

  padding: var(--padding-s);

  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 1em;
    margin-left: -1em;
    border-width: 1em;
    border-style: solid;
    border-color: white transparent transparent transparent;
  }

  & h3 {
    margin-block: var(--padding-s);
    text-align: left;
  }
}
